a.btn.btn-orange[_ngcontent-vot-c5] {
    background: #ffffff !important;
    color: white;
    box-shadow: 1px 1px 8px #cccc;
    border: 0px;
    color: #1d1d1d;
}

.card {
    margin: 46px 26px 2px 2px ;
}