<div class="container">
    <div>
        <h3>Destacados</h3>
    <div class="row">
        <div class="card" style="width: 16rem;" *ngFor="let pro of Productos; index as i">
            <a class="btn" (click)="idProduct(pro.id)">
            <img src="{{pro.img}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{pro.precio}}</h5>
                <p class="card-text">{{pro.titulo}}</p>
            </div>
            </a>
        </div>
    </div>
</div>