<div class="container">
    <div class="row">
        <div class="col-md-7">
            <form>
                <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
                    <mat-tab label="Crear Cuenta">
                        <br><br>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="fas fa-user"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Tu nombre completo"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="far fa-envelope"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Tu email o usuario"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fas fa-key"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Tu contraseña"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <a class="form-control form-control-lg btn btn-orange" type="button">Crear cuenta</a>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label=" Ingresar ">
                        <br><br>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="far fa-envelope"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Tu email o usuario"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fas fa-key"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Tu contraseña"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <a class="form-control form-control-lg btn btn-orange" type="button">Ingresar</a>
                            </div>
                        </div>

                    </mat-tab>
                </mat-tab-group>

                <!--                 <input type="file" (change)="fileChangeEvent($event)" />

<image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
></image-cropper>

<img [src]="croppedImage" />-->
            </form>
        </div>
        <div class="col-md-5">
            <img src="/assets/images/productos/1.jpg" class="img-fluid">
        </div>

    </div>
</div>