<div class="container">
<div class="row">
    <div class="col-md-3 col-sm-12  text-center">
        <a routerLink="home"><img src="/assets/images/logo.png"></a>
    </div>
    <div class="col-md-7 col-sm-12">
        <form class="form-inline">
            <div class="input-group mb-3 search">
                <input type="text" class="form-control" placeholder="Que estás buscando?" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2 col-sm-12 text-center">
       <div class="iconosFuncionales">
           <ul class="ulLineal">
               <li><i class="fas fa-user-alt"></i></li>
               <li><i class="fas fa-heart"></i></li>
               <li><i class="fas fa-shopping-cart"></i></li>
           </ul>
       </div>
    </div>
</div>
</div>
          
       